# Local env files
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Astro
.astro/
dist/

# Architecture / Temporary
.tmp/

# OS/Editor
.DS_Store
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
